SECRET_KEY=kakjdfak;f;hjehe;kjdsjkf
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
DOMAIN_URL=http://localhost:8000
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
