SECRET_KEY=kakjdfak;f;hjehe;kjdsjkf
DEBUG=False
ALLOWED_HOSTS=school.fruitfulyouth.org,fruitfulyouth.org,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://school.fruitfulyouth.org,https://fruitfulyouth.org
DOMAIN_URL=https://school.fruitfulyouth.org
APP_PORT=8000
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
POSTGRES_DB=klumus
POSTGRES_USER=klumus
POSTGRES_PASSWORD=change-me
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=

MNOTIFY_API_KEY=
MNOTIFY_SENDER_ID=

MNOTIFY_SENDER_ID_PURPOSE=Transactional school notifications
CELERY_BROKER_URL=

CELERY_RESULT_BACKEND=
SENDGRID_API_KEY=
